* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-section {
  height: 672px;
  width: 320px;
  position: relative;
}

.header-container {
  height: 336px;
  width: 288px;
}

.flex-nav {
  display: flex;
  justify-content: flex-end;
  width: 20px;
  height: 14px;
  top: 19px;
  left: 284px;
  color: #1a2236;
  position: absolute;
}

h1 {
  width: 220px;
  height: 100px;
  top: 104px;
  left: 16px;
  color: #1a2236;
  font-family: 'Playfair Display', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  position: absolute;
}

p {
  display: flex;
  width: 288px;
  height: 126px;
  left: 16px;
  top: 224px;
  font-family: 'Poppins', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  position: absolute;
}

button {
  box-sizing: border-box;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  background: #1a2236;
  position: absolute;
  font-family: 'Poppins', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.image1 {
  width: 74px;
  height: 74px;
  left: 0;
  top: 0;
  position: absolute;
}

.image2 {
  width: 74px;
  height: 74px;
  left: 37px;
  top: 0;
  position: absolute;
}

.image3 {
  width: 320px;
  height: 160px;
  left: 0;
  top: 472px;
  position: absolute;
}
