html {
  background-image: url(https://drive.google.com/uc?export=download&id=1JyiPK__YybyjC0fb5hpn7i1DF8sxri33);
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.nav-icon {
  display: flex;
  justify-content: flex-end;
  height: auto;
  padding: 4%;
}

.nav-pages {
  display: none;
}

main.main-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6%;
  margin-top: 15%;
  margin-bottom: 7%;
}

.background-presentation-big {
  background-image: url(https://drive.google.com/uc?export=download&id=1XupJ_UCzxSKQsUBwjQA3x7wICdzCN6DP);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vw;
}

@media only screen and (min-width: 768px) {
  html {
    background: none;
  }

  header {
    box-shadow: 0 0.5px 0 #dddfe6;
  }

  div.nav-icon {
    display: none;
  }

  ul.nav-pages {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1a2236;
    padding: 0;
  }

  li.nav-pages-hello {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  li.nav-pages-portofilo {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  li.nav-pages-about {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  li.nav-pages-contact {
    grid-column-start: 5;
    grid-column-end: 6;
  }

  main.main-presentation {
    flex-direction: row;
    margin-left: 5%;
  }

  section.section-presentation {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  div.presentation {
    margin-top: 25%;
    margin-right: 20%;
  }

  div.background-presentation-big {
    background-image: url('../assets/img/image1.png');
    width: 50%;
    height: auto;
  }

  div.background-presentation-small {
    background-image: url(https://drive.google.com/uc?export=download&id=1wfZqFoTeEfaeREM-rdbhRzmoSk9S4dT_);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 12vw;
  }

  h1 {
    text-shadow: 2px 0 0 #1a2236;
    font-size: 490% !important;
  }

  p.presentation-p {
    margin-top: 8%;
    font-size: 100%;
  }

  footer {
    flex-direction: row !important;
    height: auto !important;
    justify-content: left !important;
  }

  section.link-desktop {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-self: center;
    margin-top: 0 !important;
    margin-left: 0 !important;
    width: 70%;
  }

  .resume-desktop {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #92dcdc;
    margin: 0;
    margin-left: 15% !important;
  }

  .image-footer-desktop {
    margin-left: 50%;
    height: auto;
  }

  .icons-section {
    padding: 0;
    margin: 3% !important;
    width: 30%;
    margin-right: 10% !important;
  }

  .icons {
    width: 80% !important;
  }

  .footer-link {
    display: none !important;
  }

  main.contact-main {
    flex-direction: row !important;
    background-color: #f9f9fa;
    background-image: none !important;
  }

  section.contact-form {
    width: 47%;
    margin-bottom: 5%;
  }

  section.contact-background-left {
    display: flex;
    width: 20%;
    background-image: url(https://drive.google.com/uc?export=download&id=1TizzuS7O_NrHLIALDGjTjaU8lOfWMly6);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-right: 8%;
    background-size: contain;
  }

  section.contact-background-right {
    display: flex;
    width: 33%;
    background-image: url(https://drive.google.com/uc?export=download&id=1_dW8Mn8gtm1fqw0q0vFzxQsyrNnhWGMR);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }

  input[type="text"] {
    height: 80% !important;
    grid-area: 1/1/2/2;
  }

  input[type="email"] {
    height: 80% !important;
    grid-area: 1/2/2/3;
  }

  .contact-form-message {
    height: 100% !important;
    grid-area: 2/1/3/3;
    margin-top: 0 !important;
  }

  div.contact-button {
    grid-area: 3/1/4/3 !important;
  }

  form.form {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 10%;
  }

  main.about-myself-main {
    flex-direction: row-reverse !important;
  }

  section.presentation {
    width: 50%;
  }

  section.blocks {
    width: 50% !important;
    padding: 0;
    display: grid !important;
    grid-template-columns: 25vw 25vw;
    grid-template-rows: 25vw 25vw;
    margin: 10%;
    margin-right: 0;
    margin-top: 25%;
  }

  div.lenguages-myself {
    height: auto;
    width: auto;
    grid-area: 1/1/1/1;
    margin: 0;
    background-size: 30%;
    padding: 0;
  }

  div.frameworks-myself {
    height: auto;
    width: auto;
    grid-area: 1/2/1/3;
    margin: 0;
    background-size: 25%;
    padding: 0;
  }

  div.skills-myself {
    height: auto;
    width: auto;
    grid-area: 2/1/3/2;
    margin: 0;
    background-size: 35%;
    padding: 0;
  }

  div.background-myself {
    height: auto;
    width: auto;
    grid-area: 2/2/3/3;
    margin: 0;
    background-image: url(https://drive.google.com/uc?export=download&id=1Gyn_RExJ_M6yD-sBAheQGj8GnzC-4cL5);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 80%;
  }

  h3 {
    font-size: 100% !important;
  }

  .word-lenguages {
    font-size: 80% !important;
  }
}

h1 {
  color: #1a2236;
  font-family: 'Playfair Display', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 300%;
  line-height: 100%;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

p.presentation-p {
  font-family: 'Poppins', monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-bottom: 8vw;
}

.button-start-collaboration {
  background: #1a2236;
  font-family: 'Poppins', monospace;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  align-items: center;
  cursor: pointer;
  padding: 5%;
}

.button-start-collaboration:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.button-start-collaboration:focus {
  background: #fff;
  color: #1a2236;
  border: 2px solid #1a2236;
}

/*
.button-works {
  display: flex;
  height: 80px;
  margin: 10px;
}

.works {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.work1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.boxblue {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  background-color: #1a2236;
}

h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 380;
  font-size: 28px;
  line-height: 16px;
  margin: 20px;
}

.lenguages {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  justify-content: left;
  padding: 10px 10px 10px 20px;
  margin: 0;
}

.boxlenguages {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 80%;
  background-color: #98dede;
  align-self: center;
}

.title {
  margin-left: 30px;
  height: 80px;
}

.description {
  margin: 20px 14px 0 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

*/

main.about-myself-main {
  display: flex;
  flex-direction: column;
}

.button-get-my-cv {
  background: #1a2236;
  font-family: 'Poppins', monospace;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  align-items: center;
  cursor: pointer;
  padding: 5%;
  font-size: 100%;
}

.button-get-my-cv:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.button-get-my-cv:focus {
  background: #fff;
  color: #1a2236;
  border: 2px solid #1a2236;
}

h3 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  font-size: 150%;
}

section.blocks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.word-lenguages {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 140%;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.lenguages-myself {
  display: flex;
  flex-direction: column;
  justify-content: top;
  background-color: #1c528a;
  color: #fff;
  font-family: 'Poppins', monospace;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  background-image: url(https://drive.google.com/uc?export=download&id=1xvBazyC_e7ZDtx2bOGDLmsvI3fieGZTR);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 10%;
  margin: 6%;
  height: 76vw;
}

.frameworks-myself {
  display: flex;
  flex-direction: column;
  justify-content: top;
  background-color: #e2505c;
  color: #fff;
  font-family: 'Poppins', monospace;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  background-image: url(https://drive.google.com/uc?export=download&id=1Ln6EH7S_ZZgSLulIVCqUPfs0fJN8kaLx);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 30%;
  padding: 10%;
  margin: 6%;
  height: 76vw;
}

.skills-myself {
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 10%;
  margin: 6%;
  background-color: #febf52;
  color: #fff;
  font-family: 'Poppins', monospace;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  background-image: url(https://drive.google.com/uc?export=download&id=1hOM0oq0FGkrryYMdWJ0k04cCfzFZxfIC);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 35%;
  height: 76vw;
}

main.contact-main {
  display: flex;
  flex-direction: column;
  background-image: url(https://drive.google.com/uc?export=download&id=1JyiPK__YybyjC0fb5hpn7i1DF8sxri33);
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.contact-background-left {
  display: none;
}

.contact-background-right {
  display: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #f9f9fa;
  justify-content: center;
  padding: 6%;
  padding-top: 20%;
  margin-bottom: 10%;
}

form.form {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  justify-content: center;
}

input[type="text"],
input[type="email"] {
  box-sizing: border-box;
  height: 13vw;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #7d7c84;
  margin-top: 5%;
  padding-left: 5%;
  padding-top: 0%;
  font-size: 100%;
}

.contact-form-message {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #7d7c84;
  margin-top: 5%;
  padding-left: 5%;
  padding-top: 5%;
  font-size: 100%;
  margin-bottom: 8%;
}

div.contact-button {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1a2236;
  height: 45vw;
}

section.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 10%;
  height: 50%;
  align-items: center;
  margin-top: 10%;
}

.footer-resume {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #92dcdc;
  margin: 0;
}

.image-footer {
  height: 8vw;
  margin-left: 50%;
}

.icons-section {
  display: flex;
  justify-content: space-between;
  height: 50%;
  margin: 10%;
}

.icons {
  width: 7vw;
}

.link-desktop {
  display: none;
}
