html {
  background-image: url(https://drive.google.com/uc?export=download&id=1kyxBokabJlD_TvPKAiUbLAh7nZuCbC-x);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 35vw;
  font-family: 'Poppins', monospace;
  font-style: normal;
  color: #1a2236;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: #1a2236;
  transition: all 0.5s ease-out;
}

.resume-link-desktop,
.contact-background-right,
.contact-background-left,
.background-about,
.background-presentation-dots,
.hamburger.hide,
.nav-pages,
h1 {
  display: none;
}

h2 {
  font-family: 'Playfair Display', monospace;
  font-weight: 400;
  font-size: 300%;
  line-height: 100%;
  margin: 4vw 0 4vw 0;
}

.section-content p,
.contact-form p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin: 4vw 0 4vw 0;
}

.main-button {
  display: flex;
  justify-content: center;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  background: #1a2236;
  padding: 5%;
  margin: 5% 0 5% 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.main-button:focus, 
.main-button:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.main-button:focus {
  border: 2px solid #1a2236;
}

/* Header and navigation menu */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.hamburger {
  display: flex;
  justify-content: flex-end;
  height: auto;
  padding: 4%;
  cursor: pointer;
}

.navigation-menu {
  display: none;
  font-weight: 400;
  font-size: 120%;
  line-height: 48px;
  text-align: center;
  height: 100vh;
  background-image: url(https://drive.google.com/uc?export=download&id=1spkhvqFkkM-3QiISdSiLUhWhA2nQ3Eif);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100vw;
}

.navigation-menu.active {
  display: flex;
  flex-direction: column;
}

.close-icon {
  display: none;
  padding: 4%;
  cursor: pointer;
}

.close-icon.active {
  display: flex;
  justify-content: flex-end;
}

.nav-pages-menu {
  display: none;
  margin: 0;
  padding: 40%;
}

.nav-pages-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-pages-menu li:hover a,
.nav-pages-menu li:focus a {
  font-size: xx-large;
}

/* Presentation section*/
#presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 12% 6% 6% 6%;
}

.background-presentation {
  background-image: url(https://drive.google.com/uc?export=download&id=1XupJ_UCzxSKQsUBwjQA3x7wICdzCN6DP);
  background-size: cover;
  height: 100%;
}

/* Projects section*/
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8vh;
}

#projects h2 {
  padding-left: 6%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content {
  background-color: #1a2236;
  padding: 6%;;
}

#projects h3 {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

#projects ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

#projects li {
  font-weight: 300;
  font-size: 10px;
  line-height: 8px;
  background-color: #98dede;
  padding: 1.5vh 2vw 1.5vh 2vw;
  margin-right: 2%;
  transition: all 0.5s ease-out;
}

#projects li:hover,
#projects li:focus {
  background-color: #fff;
}

#projects .main-button {
  justify-content: left;
  align-items: center;
  width: 178px;
  padding: 3%;
  font-size: 16px;
  border: 1px solid #fff;
  margin-bottom: 0;
}

#projects .main-button:hover, 
#projects .main-button:focus {
  color: #1a2236;
  border: 2px solid #fff;
}

#projects .main-button:focus {
  background: #fff;
}

#projects .main-button img {
  margin-left: 10%;
}

/* About section*/
#about {
  display: flex;
  flex-direction: column;
  margin-bottom: 6%;
}

.main-button img {
  filter: brightness(0) invert(1);
  height: 18px;
  margin-left: 5%;
}

.main-button:focus img, 
.main-button:hover img {
  filter: brightness(0);
}

.languages,
.frameworks,
.web {
  display: flex;
  flex-direction: column;
  justify-content: top;
  color: #fff;
  font-weight: 800;
  line-height: 30px;
  margin: 6%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100px 100px;
  width: auto;
  height: 250px;
  padding: 10%;
}

.languages {
  background-color: #1c528a;
  background-image: url(https://drive.google.com/uc?export=download&id=1xvBazyC_e7ZDtx2bOGDLmsvI3fieGZTR);
  margin-top: 0;
}

.frameworks {
  background-color: #e2505c;
  background-image: url(https://drive.google.com/uc?export=download&id=1Ln6EH7S_ZZgSLulIVCqUPfs0fJN8kaLx);
}

.web {
  background-color: #febf52;
  background-image: url(https://drive.google.com/uc?export=download&id=1hOM0oq0FGkrryYMdWJ0k04cCfzFZxfIC);
}

h3 {
  font-weight: 900;
  line-height: 30px;
  font-size: 22px;
}

.blocks ul {
  list-style-type:disc;
}

.blocks li {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

/* Contact section*/
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9fa;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-image: url(https://drive.google.com/uc?export=download&id=13gBZJhrSt8bh8uHfMucsVKT3QDvDlU91);
  background-repeat: no-repeat;
  background-size: 35vw;
  background-position: 0% 0%;
  padding: 35% 6% 6% 6%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 4vw 0 4vw 0;
}

.inputs-container {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  color: #7d7c84;
  padding-top: 2%;
}

textarea,
input {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-weight: 400;
  height: 70px;
  margin: 2% 0 2% 0;
  padding: 10% 5% 5% 5%;
}

textarea {
  height: 150px;
  padding: 5%;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1a2236;
  height: 30vh;
}

.resume-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.resume-link p {
  font-weight: 500;
  line-height: 24px;
  color: #92dcdc;
  margin: 0;
}

.resume-link a img {
  height: 5vw;
  margin-left: 30%;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  height: 50%;
  padding: 10% 20% 10% 20%;
}

/* 
.projects-popup-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 95vh;
  overflow: scroll;
}

.projects-popup-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 80%;
  color: #1a2236;
}

.projects-popup-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #1a2236;
}

.projects-popup-button {
  position: relative;
  align-self: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: #1a2236;
  background: #fff;
  cursor: pointer;
  border: 1px solid #1a2236;
  width: 246px;
  height: 51px;
  margin: 5%;
  transition: all 0.5s ease-out;
}

.projects-popup-button:hover {
  background: #1a2236;
  color: #fff;
  border: 2px solid #fff;
}

.projects-popup-button:focus {
  background: #fff;
  color: #1a2236;
  border: 2px solid #fff;
}

.projects-popup-button-icon {
  position: absolute;
  right: 7%;
}

#lenguagesPopup {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0%;
}

.boxlenguages-pop {
  list-style-type: none;
  background: #fff;
  border: 1px solid #1a2236;
  color: #1a2236;
  font-weight: 400;
  font-size: 11px;
  line-height: 80%;
  background-color: #fff;
  padding: 1.5%;
  margin-right: 3%;
}

.projects-popup-img-container {
  display: flex;
  flex-direction: row;
}

.projects-popup-img {
  width: 100%;
}

.projects-popup-divXButton-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#projects-popup {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
}

.projects-button-icon {
  position: absolute;
  right: 7%;
}

.stop-scroll {
  height: 100%;
  overflow: scroll;
} */

@media only screen and (min-width: 768px) {
  html, 
  #about .section-content {
    background: none;
  }

  h2 {
    font-size: 430%;
    text-align: center;
    margin: 2vw 0 2vw 0;
  }

  .section-content p,
  .contact-form p {
    font-size: 14px;
    margin: 0;
    padding-bottom: 5%;
  }

  .main-button {
    padding: 2%;
    margin-top: 3%;
    font-size: 12px;
    width: 50%;
    align-self: center;
  }

  .resume-link,
  .hamburger,
  .navigation-menu {
    display: none;
  }

  #presentation h2, 
  #about h2 {
    text-align: left;
  }

  #presentation button,
  #about button {
    align-self: flex-start;
  }

  /* Header */
  header {
    box-shadow: 0 0.5px 0 #dddfe6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: #fff;
  }

  .nav-pages {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .nav-pages li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14%;
    transition: all 0.5s ease-out;
  }

  .nav-pages li:hover,
  .nav-pages li:focus {
    background-color: #1a2236;
  }

  .nav-pages li:hover a,
  .nav-pages li:focus a {
    color: #fff;
  }

  .hello {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .portfolio {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .about {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  .contact {
    grid-column-start: 5;
    grid-column-end: 6;
  }

  /* Presentation section */
  #presentation {
    flex-direction: row;
    padding-left: 4%;
    height: 92vh;
    margin-top: 8vh;
    scroll-margin-top: 8vh;
  }

  .background-presentation {
    background-image: url(https://drive.google.com/uc?export=download&id=1Ti61f904kN4cD8MO4KBwn9tDa5WC4SfK);
    width: 55vw;
  }

  .section-content {
    padding: 0 6% 0 6%;
    width: 45vw;
    background-image: url(https://drive.google.com/uc?export=download&id=1wfZqFoTeEfaeREM-rdbhRzmoSk9S4dT_);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 17%;
  }

  /* About section*/
  #about {
    flex-direction: row-reverse;
    align-items: center;
    height: 92vh;
    scroll-margin-top: 8vh;
    margin: 8vh 5% 0 10%;
  }

  .blocks {
    display: grid;
    grid-template-columns: 27vh 27vh ;
    grid-template-rows: 27vh 27vh ;
  }

  .languages,
  .frameworks,
  .web {
    margin: 0;
    height: auto;
    background-size: 30%;
  }

  .background-about {
    display: flex;
    background-image: url(https://drive.google.com/uc?export=download&id=1Gyn_RExJ_M6yD-sBAheQGj8GnzC-4cL5);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 70%;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }

  .blocks li {
    font-size: 15px;
  }

  /* Contact section */
  #contact {
    flex-direction: row;
    height: 92vh;
    margin-top: 8vh;
    scroll-margin-top: 8vh;
  }

  .contact-background-left {
    display: flex;
    width: 31%;
    background-image: url(https://drive.google.com/uc?export=download&id=1TizzuS7O_NrHLIALDGjTjaU8lOfWMly6);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 30vh;
  }

  .contact-background-right {
    display: flex;
    width: 31%;
    background-image: url(https://drive.google.com/uc?export=download&id=1_dW8Mn8gtm1fqw0q0vFzxQsyrNnhWGMR);
    background-repeat: no-repeat;
    background-size: 35vh;
    background-position: 100% 100%;
  }

  .contact-form {
    width: 38%;
    background-image: none;
    padding: 10% 0 5% 0;
  }

  form {
    margin-top: 5%;
  }

  .inputs-container {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
  }

  label {
    font-size: 10px;
    line-height: 18px;
    width: 100%;
    padding-top: 0;
  }

  input {
    height: 35px;
    padding: 8%;
    font-size: 12px;
    margin-top: 0;
  }

  textarea {
    height: 75px;
    font-size: 12px;
    margin-top: 0;
  }

  /* Footer */
  footer {
    flex-direction: row;
    align-items: center;
    height: 10vh;
  }

  .resume-link-desktop {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    padding-left: 10%;
  }

  .resume-link-desktop p {
    font-weight: 400;
    font-size: 14px;
    color: #92dcdc;
  }

  .resume-link-desktop img {
    height: 18px;
    margin-left: 50%;
  }

  .icons-container {
    align-items: center;
    padding: 0;
    width: 30%;
    margin-right: 10%;
  }

  .icons-container a img {
    height: 20px;
  }

  /* Projects section */
  #projects {
    display: grid;
    grid-template-columns: 31vw 12.3vw 12.66vw 12.66vw 31vw;
    grid-template-rows: 70vh auto auto auto auto;
    margin-top: 16vh;
    margin-bottom: 16vh;
  }

  .title-projects-container {
    grid-area: 1/1/2/2;
    background-image: url(https://drive.google.com/uc?export=download&id=1uLuo54aFlwvRvTVLlG3_hK_wrxjrORUv);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 100% 0;
  }

  #projects h2 {
    margin-top: 16vh;
    transform: rotate(-90deg);
    padding: 0;
  }

  #card-1 {
    grid-area: 1/2/2/7;
  }

  #card-2 {
    grid-area: 2/1/3/2;
    justify-content: end;
  }

  .projects-background-1 {
    grid-area: 2/2/3/6;
    background-image: url(https://drive.google.com/uc?export=download&id=1vq8Hx4_m1epzl2px5ncXAF3eTtbwwjLd);
    background-repeat: no-repeat;
    background-size: contain;
  }

  #card-3  {
    grid-area: 2/6/3/7;
  }

  #card-4 {
    grid-area: 3/1/5/4;
  }

  #card-5 {
    grid-area: 3/4/4/5;
  }

  .projects-background-2 {
    grid-area: 4/3/5/4;
    background-image: url(https://drive.google.com/uc?export=download&id=18uN6zKjeyeidUylBHXKYwCBSE6uFIfCa);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .projects-background-3 {
    grid-area: 4/4/5/5;
    background-image: url(https://drive.google.com/uc?export=download&id=1yDjaLubR8A8v5957VhaazJ1BPTkMWcKM);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .projects-background-4 {
    grid-area: 5/1/6/2;
    background-image: url(https://drive.google.com/uc?export=download&id=10gJydnP9nnqOWZ59Op_qj9_JKChsPYLF);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .projects-background-5 {
    grid-area: 5/2/6/3;
    background-image: url(https://drive.google.com/uc?export=download&id=1O_DYyLEPrwr2n0pyRUFIJ_sFpVZofhLd);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #card-6 {
    grid-area: 5/3/6/5;
  }

  .card-content {
    display: none;
  }

  #card-3 img {
    height: 100%;
    width: 100%;
    object-fit:contain;
  }
  #card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #card-2 img {
    margin-top: 9%;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #card-5 img,
  #card-4 img,
  .title-projects-container,
  #card-6 img {
    width: 100%;
    height: 100%;
    object-fit:contain;
  }

/* 
  section.presentation-project (este era como el background de la seccion de proyectos){
    background-image: url(https://drive.google.com/uc?export=download&id=1wfZqFoTeEfaeREM-rdbhRzmoSk9S4dT_);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    margin: 0;
    padding: 0;
    background-size: 30%;
  }

  .projects-image-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .projects-image-3 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .projects-image-4 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 70%;
  }

  section.boxblue-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #1a2236;
    padding: 4%;
    height: 100%;
    margin-bottom: 5%;
  }

  ul.lenguages-1 {
    padding-top: 3% !important;
    margin-top: 0 !important;
  }

  .button-see-this-project-1,
  .button-see-this-project-2,
  .button-see-this-project-3,
  .button-see-this-project-4,
  .button-see-this-project-5,
  .button-see-this-project-6 {
    padding-top: 3% !important;
    margin-top: 3% !important;
    transition: all 0.5s ease-out;
  }

  .image-project11 {
    display: flex;
    flex-direction: column;
  }

  .projects-popup-paragraph {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
  }

  .projects-popup-button-container {
    padding-left: 16%;
  }

  .projects-popup-button {
    text-align: left !important;
    padding-left: 2% !important;
  }

  .projects-popup-container {
    overflow: scroll;
    height: 90vh !important;
  } */
}
