html {
  background-image: url(https://drive.google.com/uc?export=download&id=1kyxBokabJlD_TvPKAiUbLAh7nZuCbC-x);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 35vw;
  font-family: 'Poppins', monospace;
  font-style: normal;
  color: #1a2236;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: #1a2236;
  transition: all 0.5s ease-out;
}

.resume-link-desktop,
.contact-background-right,
.contact-background-left,
.background-about,
.background-presentation-dots,
.hamburger.hide,
.nav-pages,
h1 {
  display: none;
}

h2 {
  font-family: 'Playfair Display', monospace;
  font-weight: 400;
  font-size: 300%;
  line-height: 100%;
  margin: 4vw 0 4vw 0;
}

.section-content p,
.contact-form p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin: 4vw 0 4vw 0;
}

.main-button {
  display: flex;
  justify-content: center;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  background: #1a2236;
  padding: 5%;
  margin: 5% 0 5% 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.main-button:focus, 
.main-button:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.main-button:focus {
  border: 2px solid #1a2236;
}

/* Header and navigation menu */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.hamburger {
  display: flex;
  justify-content: flex-end;
  height: auto;
  padding: 4%;
  cursor: pointer;
}

.navigation-menu {
  display: none;
  font-weight: 400;
  font-size: 120%;
  line-height: 48px;
  text-align: center;
  height: 100vh;
  background-image: url(https://drive.google.com/uc?export=download&id=1spkhvqFkkM-3QiISdSiLUhWhA2nQ3Eif);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100vw;
}

.navigation-menu.active {
  display: flex;
  flex-direction: column;
}

.close-icon {
  display: none;
  padding: 4%;
  cursor: pointer;
}

.close-icon.active {
  display: flex;
  justify-content: flex-end;
}

.nav-pages-menu {
  display: none;
  margin: 0;
  padding: 40%;
}

.nav-pages-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-pages-menu li:hover a,
.nav-pages-menu li:focus a {
  font-size: xx-large;
}

/* Presentation section*/
#presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 12% 6% 6% 6%;
}

.background-presentation {
  background-image: url(https://drive.google.com/uc?export=download&id=1XupJ_UCzxSKQsUBwjQA3x7wICdzCN6DP);
  background-size: cover;
  height: 100%;
}

/* Projects section*/
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8vh;
}

#projects h2 {
  padding-left: 6%;
}

/* About section*/
#about {
  display: flex;
  flex-direction: column;
  margin-bottom: 6%;
}

.main-button img {
  filter: brightness(0) invert(1);
  height: 18px;
  margin-left: 5%;
}

.main-button:focus img, 
.main-button:hover img {
  filter: brightness(0);
}

.languages,
.frameworks,
.web {
  display: flex;
  flex-direction: column;
  justify-content: top;
  color: #fff;
  font-weight: 800;
  line-height: 30px;
  margin: 6%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100px 100px;
  width: auto;
  height: 250px;
  padding: 10%;
}

.languages {
  background-color: #1c528a;
  background-image: url(https://drive.google.com/uc?export=download&id=1xvBazyC_e7ZDtx2bOGDLmsvI3fieGZTR);
  margin-top: 0;
}

.frameworks {
  background-color: #e2505c;
  background-image: url(https://drive.google.com/uc?export=download&id=1Ln6EH7S_ZZgSLulIVCqUPfs0fJN8kaLx);
}

.web {
  background-color: #febf52;
  background-image: url(https://drive.google.com/uc?export=download&id=1hOM0oq0FGkrryYMdWJ0k04cCfzFZxfIC);
}

h3 {
  font-weight: 900;
  line-height: 30px;
  font-size: 22px;
}

.blocks ul {
  list-style-type:disc;
}

.blocks li {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

/* Contact section*/
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9fa;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-image: url(https://drive.google.com/uc?export=download&id=13gBZJhrSt8bh8uHfMucsVKT3QDvDlU91);
  background-repeat: no-repeat;
  background-size: 35vw;
  background-position: 0% 0%;
  padding: 35% 6% 6% 6%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 4vw 0 4vw 0;
}

.inputs-container {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  color: #7d7c84;
  padding-top: 2%;
}

textarea,
input {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-weight: 400;
  height: 70px;
  margin: 2% 0 2% 0;
  padding: 10% 5% 5% 5%;
}

textarea {
  height: 150px;
  padding: 5%;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1a2236;
  height: 30vh;
}

.resume-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.resume-link p {
  font-weight: 500;
  line-height: 24px;
  color: #92dcdc;
  margin: 0;
}

.resume-link a img {
  height: 5vw;
  margin-left: 30%;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  height: 50%;
  padding: 10% 20% 10% 20%;
}
/* desde aqui verificar */
.projects-section {
  display: flex;
  flex-direction: column;
  align-content: center;
}

section.projects-section-2 {
  display: flex;
  flex-direction: column;
  align-content: center;
}

section.projects-section-3 {
  display: flex;
  flex-direction: column;
  align-content: center;
}

section.projects-section-4 {
  display: flex;
  flex-direction: column;
  align-content: center;
}

section.projects-section-5 {
  display: flex;
  flex-direction: column;
  align-content: right;
  width: 100%;
}

section.projects-section-6 {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.boxblue {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #1a2236;
  padding: 7%;
}

.boxblue-1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #1a2236;
  padding: 7%;
}

h3 {
  color: #fff;
  font-weight: 400;
  line-height: 16px;
  padding-left: 4%;
  margin: 0;
  font-size: 20px;
}

.lenguages {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 4%;
  padding-top: 7%;
  margin: 0;
}

.lenguages-1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 4%;
  padding-top: 7%;
  margin: 0;
}

.boxlenguages {
  list-style-type: none;
  color: #000;
  font-weight: 400;
  line-height: 80%;
  background-color: #98dede;
  align-self: center;
  padding: 2%;
  margin-right: 2%;
  font-size: 80%;
  transition: all 0.5s ease-out;
}

.boxlenguages:hover,
.boxlenguages:focus {
  background-color: #fff;
  transition: all 0.5s ease-out;
}

.button-see-this-project {
  display: flex;
  align-self: flex-start;
  background: #1a2236;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  padding: 2%;
  margin-left: 4%;
  margin-top: 7%;
  width: 60%;
  border: 1px solid #fff;
  font-size: 110%;
  transition: all 0.5s ease-out;
}

.button-see-this-project-1,
.button-see-this-project-2,
.button-see-this-project-3,
.button-see-this-project-4,
.button-see-this-project-5,
.button-see-this-project-6 {
  display: flex;
  align-self: flex-start;
  background: #1a2236;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  padding: 2%;
  margin-left: 4%;
  margin-top: 7%;
  width: 210px;
  border: 1px solid #fff;
  font-size: 110%;
  transition: all 0.5s ease-out;
  position: relative;
}

.projects-image {
  display: flex;
  flex-direction: column;
}

.projects-image-2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.projects-image-3 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.projects-image-4 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.projects-image-5 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.projects-image-6 {
  display: flex;
  flex-direction: column;
}

.button-see-this-project:hover {
  background: #1a2236;
  color: #fff;
  border: 2px solid #fff;
}

.button-see-this-project:focus {
  background: #fff;
  color: #1a2236;
  border: 2px solid #fff;
}

.button-see-this-project-1:hover,
.button-see-this-project-2:hover,
.button-see-this-project-3:hover,
.button-see-this-project-4:hover,
.button-see-this-project-5:hover,
.button-see-this-project-6:hover {
  background: #1a2236;
  color: #fff;
  border: 3px solid #fff;
}

.button-see-this-project-1:focus,
.button-see-this-project-2:focus,
.button-see-this-project-3:focus,
.button-see-this-project-4:focus,
.button-see-this-project-5:focus,
.button-see-this-project-6:focus {
  background: #fff;
  color: #1a2236;
  border: 3px solid #fff;
}

.image-project11 {
  display: none;
}

.projects-popup-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 95vh;
  overflow: scroll;
}

.projects-popup-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 80%;
  color: #1a2236;
}

.projects-popup-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #1a2236;
}

.projects-popup-button {
  position: relative;
  align-self: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: #1a2236;
  background: #fff;
  cursor: pointer;
  border: 1px solid #1a2236;
  width: 246px;
  height: 51px;
  margin: 5%;
  transition: all 0.5s ease-out;
}

.projects-popup-button:hover {
  background: #1a2236;
  color: #fff;
  border: 2px solid #fff;
}

.projects-popup-button:focus {
  background: #fff;
  color: #1a2236;
  border: 2px solid #fff;
}

.projects-popup-button-icon {
  position: absolute;
  right: 7%;
}

#lenguagesPopup {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0%;
}

.boxlenguages-pop {
  list-style-type: none;
  background: #fff;
  border: 1px solid #1a2236;
  color: #1a2236;
  font-weight: 400;
  font-size: 11px;
  line-height: 80%;
  background-color: #fff;
  padding: 1.5%;
  margin-right: 3%;
}

.projects-popup-img-container {
  display: flex;
  flex-direction: row;
}

.projects-popup-img {
  width: 100%;
}

.projects-popup-divXButton-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#projects-popup {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
}

.projects-button-icon {
  position: absolute;
  right: 7%;
}

.stop-scroll {
  height: 100%;
  overflow: scroll;
} */

@media only screen and (min-width: 768px) {
  html, 
  #about .section-content {
    background: none;
  }

  h2 {
    font-size: 430%;
    text-align: center;
    margin: 2vw 0 2vw 0;
  }

  .section-content p,
  .contact-form p {
    font-size: 14px;
    margin: 0;
    padding-bottom: 5%;
  }

  .main-button {
    padding: 2%;
    margin-top: 3%;
    font-size: 12px;
    width: 50%;
    align-self: center;
  }

  .resume-link,
  .hamburger,
  .navigation-menu {
    display: none;
  }

  #presentation h2, 
  #about h2 {
    text-align: left;
  }

  #presentation button,
  #about button {
    align-self: flex-start;
  }

  /* Header */
  header {
    box-shadow: 0 0.5px 0 #dddfe6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: #fff;
  }

  .nav-pages {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .nav-pages li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14%;
    transition: all 0.5s ease-out;
  }

  .nav-pages li:hover,
  .nav-pages li:focus {
    background-color: #1a2236;
  }

  .nav-pages li:hover a,
  .nav-pages li:focus a {
    color: #fff;
  }

  .hello {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .portfolio {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .about {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  .contact {
    grid-column-start: 5;
    grid-column-end: 6;
  }

  /* Presentation section */
  #presentation {
    flex-direction: row;
    padding-left: 4%;
    height: 92vh;
    margin-top: 8vh;
    scroll-margin-top: 8vh;
  }

  .background-presentation {
    background-image: url(https://drive.google.com/uc?export=download&id=1Ti61f904kN4cD8MO4KBwn9tDa5WC4SfK);
    width: 55vw;
  }

  .section-content {
    padding: 0 6% 0 6%;
    width: 45vw;
    background-image: url(https://drive.google.com/uc?export=download&id=1wfZqFoTeEfaeREM-rdbhRzmoSk9S4dT_);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 17%;
  }

  /* About section*/
  #about {
    flex-direction: row-reverse;
    align-items: center;
    height: 92vh;
    scroll-margin-top: 8vh;
    margin: 8vh 5% 0 10%;
  }

  .blocks {
    display: grid;
    grid-template-columns: 27vh 27vh ;
    grid-template-rows: 27vh 27vh ;
  }

  .languages,
  .frameworks,
  .web {
    margin: 0;
    height: auto;
    background-size: 30%;
  }

  .background-about {
    display: flex;
    background-image: url(https://drive.google.com/uc?export=download&id=1Gyn_RExJ_M6yD-sBAheQGj8GnzC-4cL5);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 70%;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }

  .blocks li {
    font-size: 15px;
  }

  /* Contact section */
  #contact {
    flex-direction: row;
    height: 92vh;
    margin-top: 8vh;
    scroll-margin-top: 8vh;
  }

  .contact-background-left {
    display: flex;
    width: 31%;
    background-image: url(https://drive.google.com/uc?export=download&id=1TizzuS7O_NrHLIALDGjTjaU8lOfWMly6);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 30vh;
  }

  .contact-background-right {
    display: flex;
    width: 31%;
    background-image: url(https://drive.google.com/uc?export=download&id=1_dW8Mn8gtm1fqw0q0vFzxQsyrNnhWGMR);
    background-repeat: no-repeat;
    background-size: 35vh;
    background-position: 100% 100%;
  }

  .contact-form {
    width: 38%;
    background-image: none;
    padding: 10% 0 5% 0;
  }

  form {
    margin-top: 5%;
  }

  .inputs-container {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
  }

  label {
    font-size: 10px;
    line-height: 18px;
    width: 100%;
    padding-top: 0;
  }

  input {
    height: 35px;
    padding: 8%;
    font-size: 12px;
    margin-top: 0;
  }

  textarea {
    height: 75px;
    font-size: 12px;
    margin-top: 0;
  }

  /* Footer */
  footer {
    flex-direction: row;
    align-items: center;
    height: 10vh;
  }

  .resume-link-desktop {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    padding-left: 10%;
  }

  .resume-link-desktop p {
    font-weight: 400;
    font-size: 14px;
    color: #92dcdc;
  }

  .resume-link-desktop img {
    height: 18px;
    margin-left: 50%;
  }

  .icons-container {
    align-items: center;
    padding: 0;
    width: 30%;
    margin-right: 10%;
  }

  .icons-container a img {
    height: 20px;
  }
/* 
  main.projects-main {
    display: grid;
    grid-template-columns: 30% 25% 20% 25%;
    grid-template-rows: 11% 11% 11% 23% 11.5% 18% 19%;
  }

  section.projects-section {
    grid-area: 1/2/2/5;
  }

  section.projects-section-2 {
    grid-area: 4/1/5/2;
  }

  section.projects-section-3 {
    grid-area: 5/1/7/3;
  }

  section.projects-section-4 {
    grid-area: 7/3/8/5;
  }

  section.projects-section-5 {
    grid-area: 5/4/6/5;
  }

  section.projects-section-6 {
    grid-area: 4/4/5/5;
  }

  .boxblue {
    display: none;
    height: 0 !important;
  }

  div.background-1 {
    grid-area: 7/1/8/3;
    background-image: url(https://drive.google.com/uc?export=download&id=1IiJnqvMHJeN9L0Q3Gy_R8lBnIZXysOuV);
    background-repeat: no-repeat;
    background-position: 0% 0%;
  }

  div.background-2 {
    grid-area: 4/2/5/4;
    background-image: url(https://drive.google.com/uc?export=download&id=1Y7FEpOsrZ7qB2mJKJvw1ddUbpQoIpgee);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: auto;
  }

  div.background-3 {
    grid-area: 6/3/7/5;
    background-image: url(https://drive.google.com/uc?export=download&id=1bHZ24adjFM1HPHYcubuW9SKe506q9pVZ);
    background-repeat: no-repeat;
    background-position: 0% 100%;
  }

  div.background-4 {
    grid-area: 6/3/7/5;
    background-image: url(https://drive.google.com/uc?export=download&id=1HC7atw27JNSzjav8Ug7iwN5fK4xztozt);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 56%;
  }

  div.background-5 {
    grid-area: 7/1/8/3;
    background-image: url(https://drive.google.com/uc?export=download&id=1Kzg9hZi0rWmBH-XbHOc6BdUM3Izni-ft);
    background-repeat: no-repeat;
    background-position: 100% 0%;
  }

  section.presentation-project (este era como el background de la seccion de proyectos){
    background-image: url(https://drive.google.com/uc?export=download&id=1wfZqFoTeEfaeREM-rdbhRzmoSk9S4dT_);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    margin: 0;
    padding: 0;
    background-size: 30%;
  }

  .rotate-projects {
    transform: rotate(270deg);
  }

  img.image-project1 {
    display: none;
  }

  .projects-image-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .projects-image-3 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .projects-image-4 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 70%;
  }

  .projects-image-5 {
    display: flex;
    flex-direction: column;
  }

  .projects-image-6 {
    display: flex;
    flex-direction: column;
  }

  section.boxblue-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #1a2236;
    padding: 4%;
    height: 100%;
    margin-bottom: 5%;
  }

  ul.lenguages-1 {
    padding-top: 3% !important;
    margin-top: 0 !important;
  }

  .button-see-this-project-1,
  .button-see-this-project-2,
  .button-see-this-project-3,
  .button-see-this-project-4,
  .button-see-this-project-5,
  .button-see-this-project-6 {
    padding-top: 3% !important;
    margin-top: 3% !important;
    transition: all 0.5s ease-out;
  }

  .image-project11 {
    display: flex;
    flex-direction: column;
  }

  .projects-popup-paragraph {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
  }

  .projects-popup-button-container {
    padding-left: 16%;
  }

  .projects-popup-button {
    text-align: left !important;
    padding-left: 2% !important;
  }

  .projects-popup-container {
    overflow: scroll;
    height: 90vh !important;
  } */
}
